@if (post(); as post) {
  @if (post.author.avatarUrl) {
    <app-avatar-circle
      class="size32"
      [avatarUrl]="post.author.avatarUrl"
    ></app-avatar-circle>
  } @else {
    <img
      src="/assets/img/avatarka-null.png"
      alt=""
      class="size32"
    >
  }

  <main class="post-body">
    <div class="post-header">
      <strong class="post__author">{{ post.author.firstName }} {{ post.author.lastName }}</strong>
      <!--      <span class="post__created-at">{{ post.createdAt | date: 'dd MMMM YYYY' }}</span>-->
      <span class="post__created-at">{{ post.createdAt | customDate }}</span>

    </div>
    <p class="medium-text">{{ post.content }}</p>

    <div class="post-counters">
      <span class="comment-amount">
        <svg icon="comments" class="ico-comments"></svg>
        <span class="comments-length">{{ comments().length }}</span>
      </span>
    </div>

    <div class="post__comments-wrapper">
      @for (comment of comments(); track comment.id) {
        <app-comment [comment]="comment"></app-comment>
      }
    </div>

    <app-post-input
      [profile]="profile()"
      (created)="onCreated($event)"
      [isCommentInput]="true"
      [postId]="post.id"
    ></app-post-input>
  </main>
}
