<img
  [src]="preview()"
  alt=""
  class="avatar"
>


<div
  dnd
  class="dropzone"
  tabindex="0"
  (keyup.enter)="fileDrop.click()"
  (fileDropped)="onFileDropped($event)"
>

  <div class="dropzone-content">
    <svg icon="cloud" class="svg-cloud"></svg>
    <span class="medium-text">Перетащите изображение или Загрузите (разрешение до 5,000 x 5,000 px)</span>
  </div>

  <input
    tabindex="-1"
    type="file"
    class="avatar-input"
    #fileDrop
    (change)="fileBrowserHandler($event)"
  >
</div>
