:host {
  display: block;
  padding: 20px 12px;
  background: var(--dark-color);
  position: relative;
}

.main-menu-list{
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background: none;
  color: var(--light-color);
  width: 100%;
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  text-align: left;
  grid-gap: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .ico-svg{
      width: 14px;
      height: 12px;
      color: var(--primary-color);
    }

  }
}

.ico-svg{
  width: 14px;
  height: 12px;
  color: var(--light-color);
}


.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}
.to-subscribers-link{
  color: var(--primary-color);

}
.to-subscribers-icon{
  width: 6px;
  height: 10px;
  color: var(--primary-color);
}

.sidebar__footer {
  width: calc(100% - 20px);
  background: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;

  position: absolute;
  bottom: 20px;

}

.sidebar__footer-img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.username-text{
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-color);


}

.settings-ico{
  width: 14px;
  height: 14px;
  color: var(--primary-color);

  &:hover{
    color: var(--light-color);
  }
}
