:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
}

.message-wrapper {
  display: grid;
  grid-gap: 20px;
  overflow-y: scroll;
}

.date-message{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 6px 30px;
  color: var(--light-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  background: var(--dark-hover-color);
  border-radius: 1px;
}
