<form
  class="login-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)">
  <h1 class="h1 mb68">Вход</h1>

  <label class="tt-control-label mb16">
    Telegram username
    <input
      type="text"
      placeholder="Введите логин"
      class="tt-input"
      formControlName="username">
  </label>

  <label class="tt-control-label mb32">
    Пароль
    <input
      type="text"
      placeholder="Введите пароль"
      class="tt-input"
      formControlName="password">
  </label>

  <button class="btn btn-shadow" type="submit">Войти</button>
</form>

<img src="/assets/svg/logo.svg" alt="logo">
