<img src="assets/svg/logo-small.svg" alt="logo" class="ml16 mb20" />

<nav class="mb20">
  <ul class="main-menu-list">
    @for (item of menuItems; track item) {
    <li>
      <a [routerLink]="[item.link]" routerLinkActive="active" class="menu-item">
        <svg icon="{{ item.icon }}" class="ico-svg"></svg>
        <span>{{ item.label }}</span>
      </a>
    </li>
    }
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (subscriber of subscriptions$ | async; track subscriber.id) {
<app-subscriber-card [profile]="subscriber"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a [routerLink]="['/subscribers']" class="medium-text to-subscribers-link">
    Все подписчики
    <svg icon="arrow" class="to-subscribers-icon"></svg>
  </a>
</div>

<footer class="sidebar__footer">
  @if (me(); as me) { @if (me.avatarUrl) {
  <img
    [src]="me.avatarUrl | imgUrl"
    [alt]="me.firstName"
    class="sidebar__footer-img"
  />
  } @else {
  <img
    src="assets/img/avatarka-null.png"
    [alt]="me.firstName"
    class="sidebar__footer-img"
  />
  }

  <p class="medium-text username-text">{{ me.username }}</p>

  <a [routerLink]="['settings']" class="settings-btn">
    <svg icon="settings" class="settings-ico"></svg>
  </a>
  }
</footer>
